:root {
    --color-primary: #263238;
    --color-primary-light: #4f5b62;
    --color-primary-dark: #000a12;

    --color-text: #ffffff;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--color-primary);
}

p {
    color: var(--color-text);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.boutonCalc {
    height: 40px;
    width: 40px;
    background-color: var(--color-primary-light );
    color: var(--color-text);
    border: 2px solid var(--color-primary-dark);
}